In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head(10)

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
5,10556855,MINORITY ORGAN & TISSUE TRANSPLANT & EDUCATION...,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
6,10558440,FRIENDS OF ARTS COUNCIL OF GREATER DENHAM SPRI...,T3,Independent,C1000,Preservation,Trust,1,100000-499999,N,31452,1
7,10566033,ISRAEL EMERGENCY ALLIANCE,T3,Independent,C2000,Preservation,Trust,1,10M-50M,N,7508025,1
8,10570430,ARAMCO BRATS INC,T7,Independent,C1000,ProductDev,Trust,1,1-9999,N,94389,1
9,10571689,INTERNATIONAL ASSOCIATION OF FIRE FIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0

In [2]:
# Drop the non-beneficial ID columns, 'EIN','NAME' and SPECIAL_CONSIDERATIONS
application_df=application_df.drop(['EIN','NAME','SPECIAL_CONSIDERATIONS'],axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
ORGANIZATION           4
STATUS                 2
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#application_types_to_replace=["T10","T9","T13","T12","T2","T25","T14","T29","T15","T17"]

# Replace in dataframe
#for app in application_types_to_replace:
 #   application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
#application_df['APPLICATION_TYPE'].value_counts()

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace=["T25","T14","T29","T15","T17"]

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
T12         27
T2          16
Other       11
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
application_df["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df["CLASSIFICATION"].value_counts()[application_df['CLASSIFICATION'].value_counts()>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#classifications_to_replace=["C2100","C7000","C1700","C4000","C5000","C1270","C2700","C2800","C7100","C1300","C1280","C1230","C1400","C7200","C2300","C1240","C8000","C7120","C1500","C1800",
         #                  "C6000","C1250","C8200","C1238","C1278","C1235","C1237","C7210","C2400","C1720","C4100","C1257","C1600","C1260","C2710","C0","C3200","C1234","C1246","C1267","C1256",
         #                  "C1370","C1236","C2190","C4200","C5200","C1248","C2600","C1580","C6100","C1820","C1900","C2570","C1570","C3700","C2500","C1283","C2380","C1732","C1728","C2170","C4120","C8210","C4500","C1245","C2561","C2150"]

# Replace in dataframe
#for cls in classifications_to_replace:
 #   application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
#application_df['CLASSIFICATION'].value_counts()

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace=["C8000","C7120","C1500","C1800",
                           "C6000","C1250","C8200","C1238","C1278","C1235","C1237","C7210","C2400","C1720","C4100","C1257","C1600","C1260","C2710","C0","C3200","C1234","C1246","C1267","C1256",
                           "C1370","C1236","C2190","C4200","C5200","C1248","C2600","C1580","C6100","C1820","C1900","C2570","C1570","C3700","C2500","C1283","C2380","C1732","C1728","C2170","C4120","C8210","C4500","C1245","C2561","C2150"]

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
Other      227
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
application_clean_df=pd.get_dummies(application_df)
application_clean_df.head(10)

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T3,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,5000,1,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,1,108590,1,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,1,6692,1,0,0,0,0,0,0,1,...,1,0,0,1,0,0,0,0,0,0
4,1,142590,1,0,0,0,0,0,0,1,...,1,0,0,0,1,0,0,0,0,0
5,1,5000,1,0,0,0,0,0,0,1,...,1,1,0,0,0,0,0,0,0,0
6,1,31452,1,0,0,0,0,0,0,1,...,1,0,0,0,1,0,0,0,0,0
7,1,7508025,1,0,0,0,0,0,0,1,...,1,0,0,0,0,1,0,0,0,0
8,1,94389,1,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
9,1,5000,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [12]:
# Split our preprocessed data into our features and target arrays
y=application_clean_df["IS_SUCCESSFUL"].values


X=application_clean_df.drop(columns=["IS_SUCCESSFUL"]).values

In [13]:
# Split the preprocessed data into a training and testing dataset
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.40)

In [14]:
X_train.shape

(20579, 60)

In [15]:
X_test.shape

(13720, 60)

In [16]:
X_train[0]

array([   1, 5000,    0,    0,    0,    0,    0,    0,    1,    0,    0,
          0,    0,    0,    0,    0,    0,    1,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    1,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    1,    0,    0,    0,    0,    1,    1,    0,    0,    0,
          0,    0,    0,    0,    0], dtype=int64)

In [17]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [18]:
X_train_scaled

array([[ 0.01394312, -0.03068698, -0.01558926, ..., -0.35193746,
        -0.06664551, -0.0743058 ],
       [ 0.01394312, -0.03068698, -0.01558926, ..., -0.35193746,
        -0.06664551, -0.0743058 ],
       [ 0.01394312, -0.03068698, -0.01558926, ..., -0.35193746,
        -0.06664551, -0.0743058 ],
       ...,
       [ 0.01394312, -0.02450475, -0.01558926, ...,  2.84141394,
        -0.06664551, -0.0743058 ],
       [ 0.01394312, -0.03068698, -0.01558926, ..., -0.35193746,
        -0.06664551, -0.0743058 ],
       [ 0.01394312, -0.03068698, -0.01558926, ..., -0.35193746,
        -0.06664551, -0.0743058 ]])

****Compile, Train and Evaluate the Model with Optimization****

In [19]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 100
hidden_nodes_layer2 = 100
hidden_nodes_layer3 = 100
hidden_nodes_layer4 = 60
hidden_nodes_layer4 = 60
hidden_nodes_layer5 = 60
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Fourth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="relu"))

# Fifth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="relu"))

# sixth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer5, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               6100

 dense_1 (Dense)             (None, 100)               10100

 dense_2 (Dense)             (None, 100)               10100

 dense_3 (Dense)             (None, 60)                6060

 dense_4 (Dense)             (None, 60)                3660

 dense_5 (Dense)             (None, 60)                3660

 dense_6 (Dense)             (None, 1)                 61

=================================================================
Total params: 39,741
Trainable params: 39,741
Non-trainable params: 0
_________________________________________________________________

In [20]:
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [21]:
fit_model = nn.fit(X_train_scaled,y_train,epochs=150)

Epoch 1/150
644/644 [==============================] - 2s 1ms/step - loss: 0.5679 - accuracy: 0.7206
Epoch 2/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5518 - accuracy: 0.7298
Epoch 3/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5486 - accuracy: 0.7319
Epoch 4/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5464 - accuracy: 0.7330
Epoch 5/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7342
Epoch 6/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5429 - accuracy: 0.7341
Epoch 7/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7360
Epoch 8/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7368
Epoch 9/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7360
Epoch 10/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.7352
Epoch 11/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.7385
Epoch 12/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7383
Epoch 13/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5373 - accuracy: 0.7392
Epoch 14/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7387
Epoch 15/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5366 - accuracy: 0.7382
Epoch 16/150
644/644 [==============================] - 2s 3ms/step - loss: 0.5353 - accuracy: 0.7399
Epoch 17/150
644/644 [==============================] - 2s 3ms/step - loss: 0.5355 - accuracy: 0.7395
Epoch 18/150
644/644 [==============================] - 2s 3ms/step - loss: 0.5350 - accuracy: 0.7393
Epoch 19/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5340 - accuracy: 0.7396
Epoch 20/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5328 - accuracy: 0.7392
Epoch 21/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5331 - accuracy: 0.7396
Epoch 22/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5334 - accuracy: 0.7407
Epoch 23/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5332 - accuracy: 0.7392
Epoch 24/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5321 - accuracy: 0.7402
Epoch 25/150
644/644 [==============================] - 2s 3ms/step - loss: 0.5314 - accuracy: 0.7415
Epoch 26/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5318 - accuracy: 0.7404
Epoch 27/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5312 - accuracy: 0.7404
Epoch 28/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5315 - accuracy: 0.7411
Epoch 29/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5309 - accuracy: 0.7421
Epoch 30/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5298 - accuracy: 0.7422
Epoch 31/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5297 - accuracy: 0.7418
Epoch 32/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5301 - accuracy: 0.7429
Epoch 33/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5301 - accuracy: 0.7421
Epoch 34/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5291 - accuracy: 0.7436
Epoch 35/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5287 - accuracy: 0.7420
Epoch 36/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5297 - accuracy: 0.7415
Epoch 37/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5286 - accuracy: 0.7414
Epoch 38/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5281 - accuracy: 0.7429
Epoch 39/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5284 - accuracy: 0.7420
Epoch 40/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5278 - accuracy: 0.7413
Epoch 41/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5282 - accuracy: 0.7410
Epoch 42/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5281 - accuracy: 0.7409
Epoch 43/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5283 - accuracy: 0.7411
Epoch 44/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5279 - accuracy: 0.7411
Epoch 45/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5279 - accuracy: 0.7424
Epoch 46/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5266 - accuracy: 0.7434
Epoch 47/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5268 - accuracy: 0.7421
Epoch 48/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5266 - accuracy: 0.7423
Epoch 49/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5276 - accuracy: 0.7416
Epoch 50/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5260 - accuracy: 0.7419
Epoch 51/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5270 - accuracy: 0.7421
Epoch 52/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5273 - accuracy: 0.7423
Epoch 53/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5267 - accuracy: 0.7422
Epoch 54/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5260 - accuracy: 0.7424
Epoch 55/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5266 - accuracy: 0.7436
Epoch 56/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5264 - accuracy: 0.7420
Epoch 57/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5254 - accuracy: 0.7430
Epoch 58/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5264 - accuracy: 0.7428
Epoch 59/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5263 - accuracy: 0.7426
Epoch 60/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5251 - accuracy: 0.7437
Epoch 61/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5255 - accuracy: 0.7432
Epoch 62/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5254 - accuracy: 0.7439
Epoch 63/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5263 - accuracy: 0.7440
Epoch 64/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5244 - accuracy: 0.7441
Epoch 65/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5251 - accuracy: 0.7432
Epoch 66/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5241 - accuracy: 0.7453
Epoch 67/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5250 - accuracy: 0.7433
Epoch 68/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5242 - accuracy: 0.7435
Epoch 69/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5240 - accuracy: 0.7434
Epoch 70/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5254 - accuracy: 0.7419
Epoch 71/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5240 - accuracy: 0.7439
Epoch 72/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5244 - accuracy: 0.7441
Epoch 73/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5251 - accuracy: 0.7427
Epoch 74/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5251 - accuracy: 0.7430
Epoch 75/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5248 - accuracy: 0.7432
Epoch 76/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5232 - accuracy: 0.7447
Epoch 77/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5234 - accuracy: 0.7447
Epoch 78/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5243 - accuracy: 0.7450
Epoch 79/150
644/644 [==============================] - 2s 3ms/step - loss: 0.5230 - accuracy: 0.7447
Epoch 80/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5232 - accuracy: 0.7448
Epoch 81/150

644/644 [==============================] - 1s 2ms/step - loss: 0.5231 - accuracy: 0.7445
Epoch 82/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5249 - accuracy: 0.7427
Epoch 83/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5256 - accuracy: 0.7441
Epoch 84/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5241 - accuracy: 0.7449
Epoch 85/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5231 - accuracy: 0.7451
Epoch 86/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5235 - accuracy: 0.7442
Epoch 87/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5226 - accuracy: 0.7443
Epoch 88/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5253 - accuracy: 0.7439
Epoch 89/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5238 - accuracy: 0.7436
Epoch 90/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5231 - accuracy: 0.7440
Epoch 91/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5242 - accuracy: 0.7441
Epoch 92/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5226 - accuracy: 0.7442
Epoch 93/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5238 - accuracy: 0.7450
Epoch 94/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5236 - accuracy: 0.7436
Epoch 95/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5234 - accuracy: 0.7442
Epoch 96/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5229 - accuracy: 0.7442
Epoch 97/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5240 - accuracy: 0.7445
Epoch 98/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5244 - accuracy: 0.7445
Epoch 99/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5228 - accuracy: 0.7451
Epoch 100/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5224 - accuracy: 0.7451
Epoch 101/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5227 - accuracy: 0.7449
Epoch 102/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5225 - accuracy: 0.7455
Epoch 103/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5224 - accuracy: 0.7448
Epoch 104/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5225 - accuracy: 0.7450
Epoch 105/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5219 - accuracy: 0.7448
Epoch 106/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5237 - accuracy: 0.7434
Epoch 107/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5237 - accuracy: 0.7451
Epoch 108/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5218 - accuracy: 0.7441
Epoch 109/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5231 - accuracy: 0.7445
Epoch 110/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5223 - accuracy: 0.7435
Epoch 111/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5223 - accuracy: 0.7425
Epoch 112/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5234 - accuracy: 0.7440
Epoch 113/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5233 - accuracy: 0.7440
Epoch 114/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5222 - accuracy: 0.7454
Epoch 115/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5230 - accuracy: 0.7440
Epoch 116/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5217 - accuracy: 0.7439
Epoch 117/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5220 - accuracy: 0.7443
Epoch 118/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5254 - accuracy: 0.7403
Epoch 119/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5259 - accuracy: 0.7434
Epoch 120/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5238 - accuracy: 0.7447
Epoch 121/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5227 - accuracy: 0.7446
Epoch 122/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5257 - accuracy: 0.7453
Epoch 123/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5224 - accuracy: 0.7444
Epoch 124/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5221 - accuracy: 0.7453
Epoch 125/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5258 - accuracy: 0.7448
Epoch 126/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5222 - accuracy: 0.7439
Epoch 127/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5216 - accuracy: 0.7452
Epoch 128/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5237 - accuracy: 0.7449
Epoch 129/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5297 - accuracy: 0.7436
Epoch 130/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5229 - accuracy: 0.7436
Epoch 131/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5214 - accuracy: 0.7449
Epoch 132/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5215 - accuracy: 0.7452
Epoch 133/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5217 - accuracy: 0.7443
Epoch 134/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5213 - accuracy: 0.7451
Epoch 135/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5213 - accuracy: 0.7446
Epoch 136/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5231 - accuracy: 0.7450
Epoch 137/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5217 - accuracy: 0.7445
Epoch 138/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5217 - accuracy: 0.7441
Epoch 139/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5225 - accuracy: 0.7442
Epoch 140/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5221 - accuracy: 0.7450
Epoch 141/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5207 - accuracy: 0.7449
Epoch 142/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5223 - accuracy: 0.7439
Epoch 143/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5230 - accuracy: 0.7449
Epoch 144/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5216 - accuracy: 0.7442
Epoch 145/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5223 - accuracy: 0.7441
Epoch 146/150
644/644 [==============================] - 1s 2ms/step - loss: 0.5230 - accuracy: 0.7455
Epoch 147/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5228 - accuracy: 0.7443
Epoch 148/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5224 - accuracy: 0.7448
Epoch 149/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5210 - accuracy: 0.7450
Epoch 150/150
644/644 [==============================] - 1s 1ms/step - loss: 0.5211 - accuracy: 0.7452

In [22]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

429/429 - 0s - loss: 0.6547 - accuracy: 0.7270 - 490ms/epoch - 1ms/step
Loss: 0.6546522378921509, Accuracy: 0.7270408272743225